doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="/style.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css")
    script(src='/script.js')
  body
  .container
      header
        h1(id="titleInput")= checklist.title
        input(type='hidden', id='draftId', value=checklist._id)
        p
          span Procedure No: 
          span(id="procedureNoInput") #{checklist.procedure_no}
        p
          span Version:
          span(id="versionInput") #{checklist.version}
        p
          span Revision Date:
          span(id="revisionDateInput") #{checklist.revision_date}
        p 
          span Changed By:
          span(id="changedByInput") #{checklist.changed_by}
         

      each category in checklist.categories
        section
          h3= category.category_name
          ul
            each question in category.questions
              li.question-area(data-category=category.category_name)
                p.question-text(id=question.question_id + 'question_text')= question.question_id + '. ' + question.question_text
                
                if question.response
                  select.answer-dropdown(id=question.question_id + 'answer_dropdown')
                    option(value="confirm", selected=question.response.answer === 'confirm') Confirm
                    option(value="not_confirm", selected=question.response.answer === 'not_confirm') Not Confirm
                  
                  i.fas.fa-comment-alt.comment-icon(data-target=question.question_id + 'comments')
                  
                  textarea.comment-textarea(id=question.question_id + 'comments', style=question.response.comments ? '' : 'display: none;')= question.response.comments
                else
                  select.answer-dropdown
                    option(value="confirm") Confirm
                    option(value="not_confirm") Not Confirm
                  
                  i.fas.fa-comment-alt.comment-icon(data-target=question.question_id + 'comments')
                  
                  textarea.comment-textarea(id=question.question_id + 'comments', style='display: none;')

      .button-group
        button(type='button', onclick='handleDraftUpdate()') Update Draft
        button(type='button', onclick='handleComplete()') Mark as Completed
        button(type='button', onclick='handleCancel()') Cancel








