extends layout

block content
  .container#searchResultsContainer
    header
      h2 Recent Checklists
    ul
      each checklist in checklists
        li.search-result-item
          a(href=`/checklist/${checklist._id}`)
            | #{checklist.procedure_no} - #{checklist.title}
  .container#draftChecklistsContainer
    header
      h2 Draft Checklists
    ul
      each draftChecklist in draftChecklists
        li.search-result-item
          a(href=`/draftChecklists/${draftChecklist._id}`)
            | #{draftChecklist.procedure_no} - #{draftChecklist.title}
  .container#completedChecklistsContainer
    header
      h2 Completed Checklists
    ul
      each completedChecklist in completedChecklists
        li.search-result-item
          a(href=`/completedChecklists/${completedChecklist._id}`)
            | #{completedChecklist.procedure_no} - #{completedChecklist.title}
